body{
    overflow-x: hidden;
}
/* hero-section css */
img.hero-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.Hero-section {
    height: 100vh;
    padding: 0;
}
.hero .container {
    max-width: 100% !important;
    padding: 0px;
    margin: 0px;
}


/* services css */
.Service-section {
    background-image: url(/src/assets/img/services-bg.jpg);
    padding: 100px 0px 50px 0px;
}
.service-inner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 80px 20px 80px; 
}
.service-headline {
    font-size: 33px;
    color: #c71f3f;
    margin-bottom: 20px;
}
h3.service-type-name {
    color: #c71f3f;
    padding-top: 20px;
}
.service-card {
    margin-top: 5em;
}
.service-subline {
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 0 3em;
    line-height: 1.8em;
}
.card-container {
    background-color: white;
    text-align: center;
    padding: 15px 22px;
    max-height: 400px;
    height: 100%;
}
.service-card .container {
    max-width: 1050px;
}


/* product section */
.product-section .container {
    max-width: 1600px;
}
.product-section {
    background-color: #000000;
    padding: 70px 0px 70px 0px;
    text-align: center;
}
img.product-img {
    width: 100%;
}
.product-card {
    background-color: white;
    text-align: center;
}
.product-card {
    background-color: white;
    padding: 30px 20px;
}
a.buy-btn {
    background-color: #C5203D;
    color: white;
    font-size: 20px;
    padding: 0.5em 6.3em;
    text-decoration: none;
}
h2.product-section-title {
    text-align: center;
    padding-bottom: 1em;
    font-size: 40px;
    color: white;
    font-weight: 700;
}
a.shop-more-btn {
    background-color: #C5203E;
    padding: 0.5em 4em;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.btn-part {
    margin-top: 4em !important;
}
p.product-price {
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0px;
}

h3.product-name {
    font-size: 22px;
    font-weight: 700;
    padding-top: 1em;
}